<link rel="stylesheet" href="css/templates/positionInformaton.css">
<div class="pi-header">
    <table>
        <tr>
            <td>本金</td>
            <td>{{(moneyType.principal | number)||0}}元</td>
            <td>已用</td>
            <td>{{(moneyType.spent | number)||0}}元</td>
            <td>可用</td>
            <td>{{(moneyType.available | number)||0}}元</td>
            <td>手续费</td>
            <td>{{(moneyType.poundage | number)||0}}元</td>
        </tr>
    </table>
</div>
<div class="pi-body">
    <div ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ui-grid-move-columns></div>
</div>
<div class="common-showMore" ng-show="isShowMoreList">
    <div drag class="common-showMore_wrap">
        <div class="common-showMore_title" drag-handle>
            <span>查看详情</span>
            <span ng-click="cancelShowMore()">关闭</span>
        </div>
        <div class="common-showMore_main clearfix">
            <table class="table">
                <tr>
                    <th>头寸编号</th>
                    <th>合约号</th>
                    <th>方向</th>
                    <th>数量</th>
                    <th class="color-red">建仓时间</th>
                    <th>成本</th>
                    <th>止损价格</th>
                    <th>N值</th>
                </tr>
                <tr ng-repeat="item in detailList">
                    <td class="align_center" ng-bind="item.positionId"></td>
                    <td class="align_center" ng-bind="item.instrumentCode"></td>
                    <td class="align_center" ng-bind="item.directionType"></td>
                    <td class="align_center" ng-bind="item.count"></td>
                    <td class="align_center" ng-bind="item.createTime | date:'yyyy-MM-dd'"></td>
                    <td class="align_center" ng-bind="item.cost"></td>
                    <td class="align_center" ng-bind="item.evenPrice"></td>
                    <td class="align_center" ng-bind="item.warningType"></td>
                </tr>
            </table>
        </div>
    </div>
</div>