<table class="table">
    <tr>
        <th>名称</th>
        <th>状态</th>
        <th>运行时间</th>
        <th>状态信息</th>
        <th>操作</th>
    <tr ng-repeat="item in serverList">
        <td ng-bind="item.StateName"></td>
        <td ng-bind="item.CurrentState===1?'运行正常':item.CurrentState===2?'运行出错':item.CurrentState===3?'重启中':'未运行'"></td>
        <td ng-bind="item.LastTime | date:'yyyy-MM-dd'"></td>
        <td ng-bind="item.StateInfo"></td>
        <td class="main_color pointer" ng-click="restartState(item)">重启</td>
    </tr>
</table>