<div class="cm_content_title">
    资产负债表
    <!--<span class="cmSearch_export main_color pointer">[export]</span>-->
</div>
<div class="cm_content_header">
    <span>类型：普通报表</span>
    <span>年数：</span>
    <label class="cm_report_type_label">
        <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="3">
        <b class="hideCheck">3Y</b>
    </label><label class="cm_report_type_label">
    <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="5">
    <b class="hideCheck">5Y</b>
</label><label class="cm_report_type_label">
    <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="10">
    <b class="hideCheck">10Y</b>
</label>
    <span>单位：</span><select ng-model="filUnit" ng-options="filUnit.code as filUnit.name for filUnit in filUnits"></select>
    <span>币种：人民币</span>
    <span class="cm_report_type">
        <span>交易类型</span>
        <label class="cm_report_type_label">
            <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.fullYear" ng-true-value="'001'">
            <b class="hideCheck">年度报告</b>
        </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.halfYear" ng-true-value="'002'">
        <b class="hideCheck">半年度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.firstQuarter" ng-true-value="'003'">
        <b class="hideCheck">一季度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.thirdQuarter" ng-true-value="'004'">
        <b class="hideCheck">三季度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.otherReport" ng-true-value="'005'">
        <b class="hideCheck">其他报告</b>
    </label>
    </span>
    <span class="cmSearch_handle clearfix">
        <span class="pointer" ng-click="searchFin('getFinBalance')">查询</span>
        <span class="pointer" ng-click="resetFin()">重置</span>
    </span>
</div>
<div class="cm_content_detail">
    <div class="cm_content_part">
        <table class="cm_financial_table">
            <tbody>
            <tr>
                <th ng-show="allData.balanceSheet.length"></th>
                <th ng-show="allData.balanceSheet.length" ng-repeat="item in allData.balanceSheet"><span>{{item.TITLE}}</span></th>
            </tr>
            <tr>
                <td><span>上市前/上市后</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ISLISTINGREPORT==0?'上市前/挂牌前':item.ISLISTINGREPORT==1?'A/B股上市后':item.ISLISTINGREPORT==2?'三板挂牌后':''}}</td>
            </tr>
            <tr>
                <td><span>公司类型</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.companyType}}</td>
            </tr>
            <tr>
                <td><span>报表类型</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DATAAJUSTTYPE==0?'衍生值':item.DATAAJUSTTYPE==1?'调整前':item.DATAAJUSTTYPE==2?'调整后':item.DATAAJUSTTYPE==3?'原始值':''}}</td>
            </tr>
            <tr>
                <td class="bold"><span>流动资产：</span></td>
                <td ng-repeat="item in allData.balanceSheet"></td>
            </tr>
            <tr>
                <td class="indent"><span>货币资金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.MONETARYFUND/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>结算备付金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SETTLEMENTPROVISION/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>拆出资金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LENDFUND/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>交易性金融资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.TRADEFASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收票据(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BILLREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收账款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ACCOUNTREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>预付款项(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ADVANCEPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收保费(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.PREMIUMREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收分保账款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.RIREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收分保合同准备金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.RICONTACTRESERVEREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收利息(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INTERESTREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收股利(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DIVIDENDREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他应收款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收出口退税(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.EXPORTREBATEREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应收补贴款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SUBSIDYREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>内部应收款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INTERNALREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>买入返售金融资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BUYSELLBACKFASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>存货(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INVENTORY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>一年内到期的非流动资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLASSETONEYEAR/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他流动资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERLASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>流动资产其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LASSETOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>流动资产平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LASSETBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>流动资产合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMLASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>非流动资产：</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet"></td>
            </tr>
            <tr>
                <td class="indent"><span>发放委托贷款及垫款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LOANADVANCES/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>可供出售金融资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SALEABLEFASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>持有至到期投资(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.HELDMATURITYINV/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>长期应收款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LTREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>长期股权投资(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LTEQUITYINV/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>投资性房地产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ESTATEINVEST/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>固定资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.FIXEDASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>在建工程(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.CONSTRUCTIONPROGRESS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>工程物资(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.CONSTRUCTIONMATERIAL/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>固定资产清理(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LIQUIDATEFIXEDASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>生产性生物资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.PRODUCTBIOLOGYASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>油气资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OILGASASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>无形资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INTANGIBLEASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>开发支出(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEVELOPEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>商誉(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.GOODWILL/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>长期待摊费用(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LTDEFERASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>递延所得税资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEFERINCOMETAXASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他非流动资产(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERNONLASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>非流动资产其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLASSETOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>非流动资产平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLASSETBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>非流动资产合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMNONLASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>资产其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ASSETOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>资产平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ASSETBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>资产总计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>流动负债：</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet"></td>
            </tr>
            <tr>
                <td class="indent"><span>短期借款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.STBORROW/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>向中央银行借款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BORROWFROMCBANK/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>吸收存款及同业存放(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEPOSIT/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>拆入资金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BORROWFUND/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>交易性金融负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.TRADEFLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付票据(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BILLPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付账款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ACCOUNTPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>预收款项(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ADVANCERECEIVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>卖出回购金融资产款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SELLBUYBACKFASSET/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付手续费及佣金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.COMMPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付职工薪酬(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SALARYPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应交税费(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.TAXPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付利息(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INTERESTPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付股利(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DIVIDENDPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付分保账款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.RIPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>内部应付款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INTERNALPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他应付款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>预计流动负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ANTICIPATELLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>保险合同准备金(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.CONTACTRESERVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>代理买卖证券款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.AGENTTRADESECURITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>代理承销证券款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.AGENTUWSECURITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>一年内的递延收益(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEFERINCOMEONEYEAR/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付短期债券(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.STBONDREC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>一年内到期的非流动负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLLIABONEYEAR/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他流动负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERLLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>流动负债其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LLIABOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>流动负债平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LLIABBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>流动负债合计(元)</span></td>
                <td class="indent" ng-repeat="item in allData.balanceSheet">{{item.SUMLLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>长期借款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LTBORROW/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>应付债券(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.BONDPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>长期应付款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LTACCOUNTPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>专项应付款(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SPECIALPAY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>预计负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.ANTICIPATELIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>递延收益(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEFERINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>递延所得税负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DEFERINCOMETAXLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他非流动负债(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.OTHERNONLLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>非流动负债其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLLIABOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>非流动负债平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.NONLLIABBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>非流动负债合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMNONLLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>负债其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LIABOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>负债平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LIABBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>负债合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMLIAB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>所有者权益(或股东权益)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet"></td>
            </tr>
            <tr>
                <td class="indent"><span>实收资本(或股本)(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SHARECAPITAL/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>资本公积(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.CAPITALRESERVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>减：库存股(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.INVENTORYSHARE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>专项储备(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SPECIALRESERVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>盈余公积(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SURPLUSRESERVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>一般风险准备(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.GENERALRISKPREPARE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>未确定的投资损失(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.UNCONFIRMINVLOSS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>未分配利润(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.RETAINEDEARNING/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>拟分配现金股利(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.PLANCASHDIVI/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>外币报表折算差额(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.DIFFCONVERSIONFC/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于母公司股东权其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.PARENTEQUITYOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于母公司股东平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.PARENTEQUITYBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>归属于母公司股东权益合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMPARENTEQUITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>少数股东收益(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.MINORITYEQUITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>股东权益其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SHEQUITYOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>股东权益平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.SHEQUITYBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent bold"><span>股东权益合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMSHEQUITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td><span>负债和股东权益其他项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LIABSHEQUITYOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td><span>负债和股东权益平衡项目(元)</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LIABSHEQUITYBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>负债和股东权益合计(元)</span></td>
                <td class="bold" ng-repeat="item in allData.balanceSheet">{{item.SUMLIABSHEQUITY/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td><span>公告日期</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.LATESTNOTICEDATE| date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td><span>数据来源</span></td>
                <td ng-repeat="item in allData.balanceSheet">{{item.REPORTSOURCETYPE}}</td>
            </tr>
            </tbody>
        </table >
    </div>
</div>