<div class="cm_content_title">
    通用类利润表
    <!--<span class="cmSearch_export main_color pointer">[export]</span>-->
</div>
<div class="cm_content_header">
    <span>类型：普通报表</span>
    <span>年数：</span>
    <label class="cm_report_type_label">
        <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="3">
        <b class="hideCheck">3Y</b>
    </label><label class="cm_report_type_label">
    <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="5">
    <b class="hideCheck">5Y</b>
</label><label class="cm_report_type_label">
    <input type="radio" class="cm_report_type_checkbox" ng-model="cmReportYear" ng-value="10">
    <b class="hideCheck">10Y</b>
</label>
    <span>单位：</span><select ng-model="filUnit" ng-options="filUnit.code as filUnit.name for filUnit in filUnits"></select>
    <span>币种：人民币</span>
    <span class="cm_report_type">
        <span>交易类型</span>
        <label class="cm_report_type_label">
            <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.fullYear" ng-true-value="'001'">
            <b class="hideCheck">年度报告</b>
        </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.halfYear" ng-true-value="'002'">
        <b class="hideCheck">半年度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.firstQuarter" ng-true-value="'003'">
        <b class="hideCheck">一季度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.thirdQuarter" ng-true-value="'004'">
        <b class="hideCheck">三季度报告</b>
    </label><!--
                --><label class="cm_report_type_label">
        <input type="checkbox" class="cm_report_type_checkbox" ng-model="cmReportType.otherReport" ng-true-value="'005'">
        <b class="hideCheck">其他报告</b>
    </label>
    </span>
    <span class="cmSearch_handle clearfix">
        <span class="pointer" ng-click="searchFin('getFinincome')">查询</span>
        <span class="pointer" ng-click="resetFin()">重置</span>
    </span>
</div>
<div class="cm_content_detail">
    <div class="cm_content_part">
        <table class="cm_financial_table">
            <tbody>
            <tr>
                <th ng-show="allData.profitStatement.length"></th>
                <th ng-show="allData.profitStatement.length" ng-repeat="item in allData.profitStatement"><span>{{item.TITLE}}</span></th>
            </tr>
            <tr>
                <td><span>上市前/上市后</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.ISLISTINGREPORT==0?'上市前/挂牌前':item.ISLISTINGREPORT==1?'A/B股上市后':item.ISLISTINGREPORT==2?'三板挂牌后':''}}</td>
            </tr>
            <tr>
                <td><span>公司类型</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.companyType}}</td>
            </tr>
            <tr>
                <td><span>报表类型</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.DATAAJUSTTYPE==0?'衍生值':item.DATAAJUSTTYPE==1?'调整前':item.DATAAJUSTTYPE==2?'调整后':item.DATAAJUSTTYPE==3?'原始值':''}}</td>
            </tr>
            <tr>
                <td class="bold"><span>一、营业总收入(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.TOTALOPERATEREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业收入(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OPERATEREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>利息收入(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.INTREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>已赚保费(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.PREMIUMEARNED/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>手续费及佣金收入(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.COMMREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他业务收入(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OTHERREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业总收入其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.TOTALOPERATEREVEOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>二、营业总成本(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.TOTALOPERATEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业成本(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OPERATEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>利息支出(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.INTEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>手续费及佣金支出(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.COMMEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>研发费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.RDEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>退保金(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.SURRENDERPREMIUM/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>赔付支出净额(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NETINDEMNITYEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>提取保险合同准备金净额(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NETCONTACTRESERVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>保单红利支出(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.POLICYDIVIEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>分保费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.RIEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其他业务成本(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OTHEREXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业税金及附加(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OPERATETAX/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>销售费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.SALEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>管理费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.MANAGEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>财务费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.FINANCEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>资产减值损失(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.ASSETDEVALUELOSS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业总成本其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.TOTALOPERATEEXPOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>加：公允价值变动收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.FVALUEINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>投资收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.INVESTINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其中：对联营企业和合营企业的投资收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.INVESTJOINTINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>汇兑收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.EXCHANGEINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业利润其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OPERATEPROFITOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>营业利润平衡项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OPERATEPROFITBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>三、营业利润(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.OPERATEPROFIT/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>加：营业外收入(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NONOPERATEREVE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>减：营业外支出(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NONOPERATEEXP/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其中：非流动资产处置净损失(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NONLASSETNETLOSS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>加：影响利润总额的其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.SUMPROFITOTHER/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>利润总额平衡项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.SUMPROFITBALANCE/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>四、利润总额(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.SUMPROFIT/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>减：所得税费用(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.INCOMETAX/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>加：影响净利润的其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NETPROFITOTHER1/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>未确认投资损失(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.UNCONFIRMINVLOSS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>五、净利润(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.NETPROFIT/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>其中：被合并方在合并前实现利润(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.COMBINEDNETPROFITB/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于母公司股东的净利润(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.PARENTNETPROFIT/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>少数股东损益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.MINORITYINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>净利润其他项目(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.NETPROFITOTHER2/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>六、每股收益(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement"></td>
            </tr>
            <tr>
                <td class="indent"><span>(一)基本每股收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.BASICEPS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>(二)稀释每股收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.DILUTEDEPS/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>七、其他综合收益(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement"></td>
            </tr>
            <tr>
                <td class="indent"><span>归属于母公司股东的其他综合收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.OTHERCINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于少数股东的其他综合收益(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.MINORITYOTHERCINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="bold"><span>八、综合收益总额(元)</span></td>
                <td class="bold" ng-repeat="item in allData.profitStatement">{{item.SUMCINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于母公司所有者的综合收益总额(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.PARENTCINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td class="indent"><span>归属于少数股东的综合收益总额(元)</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.MINORITYCINCOME/filUnit | number: 2}}</td>
            </tr>
            <tr>
                <td><span>公告日期</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.LATESTNOTICEDATE| date: 'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td><span>数据来源</span></td>
                <td ng-repeat="item in allData.profitStatement">{{item.REPORTSOURCETYPE}}</td>
            </tr>
            </tbody>
        </table >
    </div>
</div>