<div class="cm_content_title">
        {{allData.name}}
        <span><a href="javascript:;" ng-click="showEditRating()" class="cm_export">{{allData.information.lanshi=='true'?'已添加蓝石评级':'添加到蓝石评级'}}</a></span>
        <span><a href="javascript:;" ng-click="addAttentionCompany(allData.id, allData.type)" class="cm_export">{{allData.information.concern=='true'?'已关注':'添加关注'}}</a></span>
</div>
<div class="cm_content_part">
    <h2 class="cm_h_title">发行人资料</h2>
    <table class="cm_table">
        <colgroup>
            <col style="width: 15%;"/>
            <col style="width: 35%;"/>
            <col style="width: 15%;"/>
            <col style="width: 35%;"/>
        </colgroup>
        <tbody>
        <tr>
            <td>公司全称</td>
            <td>{{allData.information.COMPANYNAME}}</td>
            <td>企业性质</td>
            <td>{{allData.information.ORGTYPE}}</td>
        </tr>
        <tr>
            <td>设立日期</td>
            <td>{{allData.information.FOUNDDATE}}</td>
            <td>注册资本</td>
            <td>{{allData.information.REGCAPITAL}}</td>
        </tr>
        <tr>
            <td>公司简介</td>
            <td colspan="3">{{allData.information.COMPPROFILE}}</td>
        </tr>
        <tr>
            <td>经营范围</td>
            <td colspan="3">{{allData.information.BUSINSCOPE}}</td>
        </tr>
        <tr>
            <td>GICS行业分类(一级)</td>
            <td>{{allData.information.industryOne}}</td>
            <td>GICS行业分类(二级)</td>
            <td>{{allData.information.industryTwo}}</td>
        </tr>
        <tr>
            <td>GICS行业分类(三级)</td>
            <td>{{allData.information.industryThree}}</td>
            <td>最新评级</td>
            <td>{{allData.information.companyOutGrade}}</td>
        </tr>
        <tr>
            <td>评级机构</td>
            <td>{{allData.information.companyOutGradeName}}</td>
            <td>评级时间</td>
            <td>{{allData.information.companyOutGradeDate}}</td>
        </tr>
        <tr>
            <td>是否上市</td>
            <td>{{allData.information.ISLISTED}}</td>
            <td>注册地址</td>
            <td>{{allData.information.REGADDRESS}}</td>
        </tr>
        <tr>
            <td>法定代表人</td>
            <td>{{allData.information.LEGREPRESENT}}</td>
            <td>总经理</td>
            <td>{{allData.information.GMANAGER}}</td>
        </tr>
        <tr>
            <td>公司电话</td>
            <td>{{allData.information.COMPPHONE}}</td>
            <td>公司网址</td>
            <td>{{allData.information.COMPWEB}}</td>
        </tr>
        </tbody>
    </table >
</div>
<div class="cm_addNew" ng-show="isEditRating">
    <div class="cm_addNew_wrap">
        <div class="cm_addNew_title">添加主体评级</div>
        <div class="cm_addNew_main clearfix">
            <div class="cm_label">
                <span>量化评分：</span>
                <p>123</p>
                </select>
            </div>
            <div class="cm_label">
                <span>内部评分：</span>
                <select class="tm_select" ng-options="claireScore.code as claireScore.name for claireScore in claireScores" ng-model="cmRating.companyLanShiScore">
                    <option value="">--请选择评分--</option>
                </select>
            </div>
            <div class="cm_note">
                <span>评分说明：</span>
                <textarea ng-model="cmRating.companyScoreNote">

            </textarea>
            </div>
        </div>
        <div class="cm_addNew_handle">
            <div class="tm_confirm" ng-click="subEditRating()">确认</div>
            <div class="tm_cancel" ng-click="cancelEditRating()">取消</div>
        </div>
    </div>
</div>