<link rel="stylesheet" href="css/templates/login.css">
<div class="logo_wrap">
    <div class="lg_wrap clearfix">
        <div class="lg_inner clearfix">
            <div class="lg_banner"></div>
            <div class="lg_login bouncein">
                <div class="lg_title">修改密码</div>
                <div class="lg_username">
                    <div class="field field-icon-right">
                        <input type="password" class="input input-big" name="name" placeholder="原密码" ng-model="user.oldPassword" />
                        <span class="icon icon-key margin-small"></span>
                    </div>
                </div>
                <div class="lg_password">
                    <div class="field field-icon-right">
                        <input type="password" class="input input-big" name="password" placeholder="登录密码" ng-model="user.newPassword" />
                        <span class="icon icon-key margin-small"></span>
                    </div>
                </div>
                <div class="lg_password">
                    <div class="field field-icon-right">
                        <input type="password" class="input input-big" name="password" placeholder="确认密码" ng-model="user.confirmPassword" />
                        <span class="icon icon-key margin-small"></span>
                    </div>
                </div>
                <button class="lg_submit" ng-click="submit()">确&nbsp;&nbsp;认</button>
            </div>
        </div>
    </div>
</div>