<link rel="stylesheet" href="css/templates/creditManagement.css">
<link rel="stylesheet" href="css/templates/fundManagement.css">
<link rel="stylesheet" href="css/templates/transactionManagement.css">
<div class="fm_wrap">
    <div class="common-search-float clearfix">
        <div class="pull-left common-flex">
            <div class="common-search-part">
                <span class="common-label">产品名称</span>
                <ui-select class="common-label common-ui-select" search-enabled="true" ng-model="fmS.fundName">
                    <ui-select-match placeholder="产品名称" allow-clear="true">
                        <span ng-bind="$select.selected.fundName"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="fundName.fundId as fundName in fundNames">
                        <span ng-bind="fundName.fundName"></span>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        没有匹配结果
                    </ui-select-no-choice>
                </ui-select>
            </div>
            <div class="common-search-part">
                <span class="common-label">是否到期</span>
                <ui-select class="common-label common-ui-select" search-enabled="false" ng-model="fmS.maturityOrNot">
                    <ui-select-match placeholder="是否到期" allow-clear="true">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="maturity.code as maturity in params.maturity">
                        <span ng-bind="maturity.name"></span>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        没有匹配结果
                    </ui-select-no-choice>
                </ui-select>
            </div>
            <div class="common-search-part">
                <span class="common-label">追缴时间</span>
                <input class="common-input form-control" type="text" id="startTime" ng-model="fmS.startTime" def-laydate>
            </div>
            <div class="common-search-part">
                <span class="common-label">提取时间</span>
                <input class="common-input form-control" type="text" id="endTime" ng-model="fmS.endTime" def-laydate>
            </div>
        </div>
        <div class="pull-right">
            <div class="common-search-part">
                <span class="btn common-btn" ng-click="searchPayment()"><i class="glyphicon glyphicon-search"></i>查询</span>
                <span class="btn common-btn" ng-click="resetPayment()">重置</span>
            </div>
        </div>
    </div>
    <div class="common-search">
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="showEdit('add')">新增</span>
        </div>
    </div>
    <div class="fm_inner fm-payment__inner">
        <div ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
    <div class="tmTicket_addNew" ng-show="isEdit">
        <div class="tmTicket_addNew_wrap fm_addNew_wrap" drag>
            <div class="tmTicket_addNew_title" ng-bind="fmFund.title" drag-handle>新增产品</div>
            <div class="tmTicket_addNew_main clearfix">
                <div class="tmTicket_fundName">
                    <span class="label_title">产品名称：</span>
                    <select class="tm_select" ng-options="fundName.fundId as fundName.fundName for fundName in fundNames" ng-model="fmFund.fundName" ng-disabled="isUpdate">
                        <option value="">--请选择产品名称--</option>
                    </select>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">流水单号：</span>
                    <input type="text" ng-model="fmFund.waterNumber" />
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">缴款规模：</span>
                    <input type="text" ng-model="fmFund.productSize" ng-change="calculate()" />
                    万元
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">追缴时间：</span>
                    <input ng-model="fmFund.recoveryTime" type="text" id="fmRecoveryTime" def-laydate ng-change="calculate()" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">提取时间：</span>
                    <input ng-model="fmFund.extractionTime" type="text" id="fmExtractionTime" def-laydate ng-change="calculate()" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">期限：</span>
                    <input type="text" ng-model="fmFund.term" />
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">预期收益率：</span>
                    <input type="text" ng-model="fmFund.expectedRateOfReturn" ng-change="calculate()" />
                    %
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">剩余天数：</span>
                    <input type="text" ng-model="fmFund.daysRemaining" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">预警：</span>
                    <input type="text" ng-model="fmFund.earlyWarning" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">成本单位净值：</span>
                    <input type="text" ng-model="fmFund.netCostUnit" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">累计利息：</span>
                    <input type="text" ng-model="fmFund.accumulatedInterest" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">到期与否：</span>
                    <div class="tm_radio">
                        <label class="label_first">
                            <input type="radio" ng-model="fmFund.maturityOrNot" value="未到期" ng-checked="true" ng-change="calculate()">
                            未到期
                        </label>
                        <label>
                            <input type="radio" ng-model="fmFund.maturityOrNot" value="已到期" ng-change="calculate()">
                            已到期
                        </label>
                    </div>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">未到期计提成本：</span>
                    <input type="text" ng-model="fmFund.nonAccrualCost" />
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">已到期留存利润：</span>
                    <input type="text" ng-model="fmFund.retainedProfit" />
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">留存利率：</span>
                    <input type="text" ng-model="fmFund.retainedInterest" ng-change="calculate()" />
                    %
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">保证比利率：</span>
                    <input type="text" ng-model="fmFund.marginRatio" ng-change="calculate()" />
                    %
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">保证金金额：</span>
                    <input type="text" ng-model="fmFund.marginAmount" />
                    万元
                </div>
            </div>
            <div class="tmTicket_addNew_handle">
                <div class="tm_confirm" ng-click="subEdit()" ng-bind="fmFund.confirm"></div>
                <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
            </div>
        </div>
    </div>
</div>
