<link rel="stylesheet" href="css/templates/login.css">
<div class="logo_wrap">
    <div class="lg_wrap clearfix">
        <div class="lg_inner clearfix">
            <div class="lg_banner"></div>
            <form class="lg_login bouncein" ng-submit="login()">
                <div class="lg_title">登录</div>
                <div class="lg_username">
                    <div class="field field-icon-right">
                        <input type="text" class="input input-big" name="name" placeholder="登录账号" ng-model="user.name" data-validate="required:请填写账号" />
                        <span class="icon icon-user margin-small"></span>
                    </div>
                </div>
                <div class="lg_password">
                    <div class="field field-icon-right">
                        <input type="password" class="input input-big" name="password" placeholder="登录密码" ng-model="user.password" data-validate="required:请填写密码" />
                        <span class="icon icon-key margin-small"></span>
                    </div>
                </div>
                <div class="isRem"><input type="checkbox" ng-model="user.isRem">记住用户名</div>
                <input type="submit" class="lg_submit" value="登录"/>
            </form>
        </div>
    </div>
</div>