<link rel="stylesheet" href="css/templates/fundManagement.css">
<link rel="stylesheet" href="css/templates/transactionManagement.css">
<link rel="stylesheet" href="css/templates/riskManagement.css">
<style>
    .label-value{
        width: 180px !important;
    }
</style>
<div class="fm_wrap" style="overflow: hidden">
    <div class="common-search">
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="showEdit('add')">新增</span>
        </div>
        <div class="common-search-part">
            <ui-select class="common-label common-ui-select" search-enabled="true" ng-model="authority" ng-change="getUser(authority)">
                <ui-select-match placeholder="选择职能/组织结构" allow-clear="true">
                    <span ng-bind="$select.selected.authorityName"></span>
                </ui-select-match>
                <ui-select-choices repeat="user.authority as user in params.authority_organiz">
                    <span ng-bind="user.authorityName"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <input class="common-input form-control" ng-model-options="{ debounce: 1000 }" type="text" placeholder="根据用户名查询" ng-change="fuzzySearch(fuzzyName)" ng-model="fuzzyName">
        </div>
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="showMore('user')">角色分配</span>
        </div>
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="showMore('fund')">产品分配</span>
        </div>
    </div>
    <div class="um-content">
        <div ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
    <div class="tmTicket_addNew" ng-show="isEdit">
        <div class="tmTicket_addNew_wrap fm_addNew_wrap" style="overflow: initial">
            <div class="tmTicket_addNew_title" ng-bind="user.title">添加用户</div>
            <div class="tmTicket_addNew_main clearfix" style="overflow: initial">
                <div class="tmTicket_label">
                    <span class="label_title">登录名：</span>
                    <input class="label-value" type="text" ng-model="user.loginName" placeholder="登录名" ng-disabled="isUpdate">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">用户名：</span>
                    <input class="label-value" type="text" ng-model="user.userName" placeholder="用户名">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">手机号：</span>
                    <input class="label-value" type="text" ng-model="user.mobilePhone" placeholder="手机号">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">邮箱：</span>
                    <input class="label-value" type="text" ng-model="user.email" placeholder="邮箱">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">入职时间：</span>
                    <input class="label-value" ng-model="user.hireDate" type="text" id="hireDate" def-laydate />
                </div>
                <div class="tmTicket_label tmTicket_price" ng-hide="isUpdate">
                    <span class="label_title">权限：</span>
                    <select class="label-value" ng-options="authority.authority as authority.authorityName for authority in authorities" ng-model="user.authority">
                        <option value="">只能添加一个权限</option>
                    </select>
                </div>
                <div class="tmTicket_label tmTicket_price" ng-hide="isUpdate">
                    <span class="label_title">组织：</span>
                    <select class="label-value" ng-options="ogAuthority.authority as ogAuthority.authorityName for ogAuthority in ogAuthorities" ng-model="user.organiz">
                        <option value="">只能添加一个组织</option>
                    </select>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">角色等级：</span>
                    <select class="label-value" ng-model="user.organizLevel">
                        <option value="1">领导用户</option>
                        <option value="2">直属领导</option>
                        <option value="3">员工</option>
                    </select>
                </div>
                <div class="tmTicket_label tmTicket_price" ng-hide="isUpdate">
                    <span class="label_title">密码：</span>
                    <input class="label-value" type="text" ng-model="user.password" placeholder="password"/>
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">考勤时间：</span>
                    <select class="label-value" ng-options="kaoqinType.id as kaoqinType.label for kaoqinType in params.kaoqinType" ng-model="user.kaoqinType">
                    </select>
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">考勤机号码：</span>
                    <input class="label-value" type="text" ng-model="user.kqcode" placeholder="考勤机号码"/>
                </div>
                <div class="tmTicket_label tmTicket_price" ng-show="isUpdate">
                    <span class="label_title">是否离职：</span>
                    <select class="label-value" ng-options="isQuit.id as isQuit.label for isQuit in params.isQuit" ng-model="user.isQuit">
                    </select>
                </div>
                <div class="tmTicket_label rm_extra_label">
                    <span class="label_title">上级：</span>
                    <ui-select class="tm_select tm_ui_select" ng-model="user.topUserId" style="border: none">
                        <ui-select-match placeholder="上级">
                            <span ng-bind="$select.selected.userName"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.userId as user in delPutUsers | filter: $select.search">
                            <span ng-bind="user.userName"></span>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            没有匹配结果
                        </ui-select-no-choice>
                    </ui-select>
                </div>
                <div class="tmTicket_label rm_extra_label">
                    <span class="label_title">财务审批：</span>
                    <ui-select class="tm_select tm_ui_select" ng-model="user.fTopUserId" style="border: none">
                        <ui-select-match placeholder="财务审批">
                            <span ng-bind="$select.selected.userName"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.userId as user in delPutUsers | filter: $select.search">
                            <span ng-bind="user.userName"></span>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            没有匹配结果
                        </ui-select-no-choice>
                    </ui-select>
                </div>
                <div class="tmTicket_label rm_extra_label">
                    <span class="label_title">crm权限：</span>
                    <ui-select class="tm_select tm_ui_select" search-enabled="false" ng-model="user.crmAuthority" style="border: none">
                        <ui-select-match placeholder="crm权限">
                            <span ng-bind="$select.selected.label"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.id as user in params.crmAuthority | filter: $select.search">
                            <span ng-bind="user.label"></span>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            没有匹配结果
                        </ui-select-no-choice>
                    </ui-select>
                </div>
                <div class="tmTicket_label rm_extra_label">
                    <span class="label_title">crm部门：</span>
                    <ui-select class="tm_select tm_ui_select" search-enabled="false" ng-model="user.crmOrganiz" style="border: none" >
                        <ui-select-match placeholder="crm部门">
                            <span ng-bind="$select.selected.label"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.id as user in params.crmOrganiz | filter: $select.search">
                            <span ng-bind="user.label"></span>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            没有匹配结果
                        </ui-select-no-choice>
                    </ui-select>
                </div>
            </div>
            <div class="tmTicket_addNew_handle">
                <div class="tm_confirm" ng-click="subEdit()" ng-bind="user.confirm">确认</div>
                <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
            </div>
        </div>
    </div>
</div>
<div class="um_showMore" ng-show="showMoreList.user">
    <div class="um_showMore_wrap" drag>
        <div class="um_showMore_title" drag-handle>
            <span>用户角色分配</span>
            <span ng-click="cancelShowMore('user')">[关闭]</span>
        </div>
        <div class="um_showMore_main clearfix">
            <div class="um_head">
                <span class="um_right">用户：</span>
                <select ng-options="delPutUser.userId as delPutUser.userName for delPutUser in delPutUsers" ng-model="delPutUser">
                    <option value="">--请选择用户--</option>
                </select>
                <span class="um_right">角色：</span>
                <select ng-options="authority.id as authority.authorityName for authority in authorities" ng-model="delPutAuthority">
                    <option value="">选择删除/添加的角色</option>
                </select>
            </div>
            <div class="um_foot">
                <span class="tm_confirm" ng-click="delPutAdd(delPutUser, delPutAuthority)">添加角色</span>
                <span class="tm_cancel" ng-click="delPutDel(delPutUser, delPutAuthority)">删除角色</span>
            </div>
        </div>
    </div>
</div>
<div class="um_showMore" ng-show="showMoreList.fund">
    <div class="um_showMore_wrap" drag>
        <div class="um_showMore_title" drag-handle>
            <span>交易员产品分配</span>
            <span ng-click="cancelShowMore('fund')">[关闭]</span>
        </div>
        <div class="um_showMore_main clearfix">
            <div class="um_head">
                <span class="um_right">交易员：</span>
                <select ng-options="trader.userId as trader.userName for trader in traderNames" ng-model="delPutTrader">
                    <option value="">--请选择交易员--</option>
                </select>
                <span class="um_right">产品：</span>
                <select ng-options="{id: fund.fundId, name: fund.fundName} as fund.fundName for fund in fundNames" ng-model="delPutFund" ng-change="getFundName(delPutFund)">
                    <option value="">选择删除/添加的产品</option>
                </select>
            </div>
            <div class="um_foot">
                <span class="tm_confirm" ng-click="delPutAddFund(delPutTrader, delPutFund.id, delPutFund.name)">添加产品</span>
                <span class="tm_cancel" ng-click="delPutDelFund(delPutTrader, delPutFund.id)">删除产品</span>
            </div>
        </div>
    </div>
</div>

