<div class="cmMain_search clearfix">
    <div class="cmSearch_part">
        <span>选择日期</span>
        <input type="text" id="pmFundingWorkday" ng-model="pmS.fundingWorkday" def-laydate ng-change="getRatePlate(pmS.ratePlateWorkday)">
    </div>
    <div class="cmSearch_handle srSearch_handel clearfix">
        <span class="pointer" ng-click="addFunding()">添加</span>
    </div>
</div>
<div class="fm_inner pm-payment__inner">
    <div ui-grid="gridFundingOptions" class="grid" ui-grid-edit ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
</div>
<div class="tmTicket_addNew" ng-show="isEditFunding">
    <div class="tmTicket_addNew_wrap fm_addNew_wrap" drag>
        <div class="tmTicket_addNew_title" drag-handle>录入</div>
        <div class="tmTicket_addNew_main clearfix">
            <div class="tmTicket_label">
                <span class="label_title">产品名称：</span>
                <select class="tm_select" ng-options="fundName.fundId as fundName.fundName for fundName in fundNames" ng-model="pmFundFunding.fundId">
                    <option value="">--请选择产品名称--</option>
                </select>
            </div>
            <div class="tmTicket_label">
                <span class="label_title">每天：</span>
                <input type="text" ng-model="pmFundFunding.capital" />
            </div>
            <div class="tmTicket_label">
                <span class="label_title">本金：</span>
                <input type="text" ng-model="pmFundFunding.costPercent" />
            </div>
            <div class="tmTicket_label">
                <span class="label_title">成本：</span>
                <input type="text" ng-model="pmFundFunding.daily" />
            </div>
        </div>
        <div class="tmTicket_addNew_handle">
            <div class="tm_confirm" ng-click="subFundingEdit()">确认</div>
            <div class="tm_cancel" ng-click="cancelFundingEdit()">取消</div>
        </div>
    </div>
</div>