<div class="cmMain_search clearfix">
    <div class="cmSearch_part">
        <span>选择日期</span>
        <input type="text" id="pmRateWorkday" ng-model="pmS.ratePlateWorkday" def-laydate ng-change="getRatePlate(pmS.ratePlateWorkday)">
    </div>
    <div class="cmSearch_handle srSearch_handel clearfix">
        <span class="pointer" ng-click="addFuture()">录入</span>
    </div>
</div>
<div class="pm_part_holding_report pm-rate-plate__table">
    <table>
        <tr>
            <th></th>
            <th>DV01</th>
            <th>盈亏</th>
        </tr>
        <tr>
            <td>期货</td>
            <td ng-bind="rateData.futureDv01"></td>
            <td ng-bind="rateData.profit"></td>
        </tr>
    </table>
</div>
<div class="fm_inner pm-rate-plate__inner">
    <div ui-grid="gridRatePlateOptions" class="grid" ui-grid-edit ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
</div>
<div class="tmTicket_addNew" ng-show="isEditFuture">
    <div class="tmTicket_addNew_wrap fm_addNew_wrap" drag>
        <div class="tmTicket_addNew_title" drag-handle>录入</div>
        <div class="tmTicket_addNew_main clearfix">
            <div class="tmTicket_label">
                <span class="label_title">产品名称：</span>
                <select class="tm_select" ng-options="fundName.fundId as fundName.fundName for fundName in fundNames" ng-model="pmFundRate.fundId">
                    <option value="">--请选择产品名称--</option>
                </select>
            </div>
            <div class="tmTicket_label">
                <span class="label_title">日期：</span>
                <input ng-model="pmFundRate.workday" type="text" id="pmRatePlateAddWorkday" def-laydate ng-change="calculate()" />
            </div>
            <div class="tmTicket_label">
                <span class="label_title">期初权益：</span>
                <input type="text" ng-model="pmFundRate.startInterest" />
            </div>
            <div class="tmTicket_label">
                <span class="label_title">期末权益：</span>
                <input type="text" ng-model="pmFundRate.endInterest" />
            </div>
        </div>
        <div class="tmTicket_addNew_handle">
            <div class="tm_confirm" ng-click="subEdit()">确认</div>
            <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
        </div>
    </div>
</div>
<div class="tmTicket_showMore" ng-show="showMoreFuture">
    <div class="tmTicket_showMore_wrap" drag>
        <div class="tmTicket_showMore_title" drag-handle>
            <span>查看详情</span>
            <span ng-click="cancelShowMoreFuture()">关闭</span>
        </div>
        <div class="tmTicket_showMore_main clearfix">
            <table class="pmShowMoreList">
                <colgroup>
                    <col width="25%" >
                    <col width="25%" >
                    <col width="25%" >
                    <col width="25%" >
                </colgroup>
                <tr>
                    <th></th>
                    <th>持仓数量</th>
                    <th>DV01</th>
                    <th>交易方向</th>
                </tr>
                <tr ng-repeat="item in futureDetail">
                    <td ng-bind="item.securityName"></td>
                    <td ng-bind="item.volume"></td>
                    <td ng-bind="item.volume * 850"></td>
                    <td ng-bind="item.direction"></td>
                </tr>
            </table>
        </div>
    </div>
</div>