<link rel="stylesheet" href="css/templates/transactionManagement.css">
<div class="tm_wrap">
    <div class="common-search">
        <div class="common-search-part">
            <span class="common-btn btn" ng-click="showEdit('add')">新建</span>
        </div>
    </div>
    <div class="tm_main tm-counterparty-main">
        <div ui-grid="gridOptions2" class="grid" ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
    <div class="tmTicket_addNew" ng-show="isEdit">
        <div class="tmTicket_addNew_wrap tmBuySell_addNew_wrap" drag>
            <div class="tmTicket_addNew_title" ng-bind="tmFund.name" drag-handle></div>
            <div class="tmTicket_addNew_main clearfix">
                <div class="tmTicket_label">
                    <span class="label_title">合约号：</span>
                    <input type="text" ng-model="tmFund.tradeTarget"/>
                    </select>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">万得代码：</span>
                    <input type="text" ng-model="tmFund.iwindcode"/>
                </div>
                <div class="tmTicket_note">
                    <span class="label_title">备注：</span>
                    <textarea ng-model="tmFund.note" style="width: 520px"></textarea>
                </div>
            </div>
            <div class="tmTicket_addNew_handle">
                <div class="tm_confirm" ng-click="subPoolEdit()" ng-bind="tmFund.confirm">确认</div>
                <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
            </div>
        </div>
    </div>
</div>