<link rel="stylesheet" href="css/templates/positionManagement.css">
<div class="tm_addNew clearfix">
    <div class="pull-left" style="display: flex">
        <div class="common-search-part">
            <span class="common-label">选择账户：</span>
            <ui-select class="common-label common-ui-select" search-enabled="false" ng-model="searchForm.accountId">
                <ui-select-match placeholder="选择账户" allow-clear="true">
                    <span ng-bind="$select.selected.AccountName||'全部'"></span>
                </ui-select-match>
                <ui-select-choices repeat="nbAccount.AccountId as nbAccount in nbAccounts">
                    <span ng-bind="nbAccount.AccountName"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配账户
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">起止日期：</span>
            <input class="common-input form-control" type="text" ng-model="searchForm.startDate" def-laydate id="sStartDate">
            <span class="common-label">-</span>
            <input class="common-input common-ml-0 form-control" type="text" ng-model="searchForm.endDate" def-laydate id="sEndDate">
        </div>
        <div class="common-search-part">
            <span class="common-btn btn" ng-click="getNbfSummaries(searchForm)"><i class="glyphicon glyphicon-search" ></i>查询</span>
        </div>
    </div>
    <div class="pull-right">
        <div class="common-search-part">
            <span class="common-btn btn" ng-click="changeTypeStyle()" ng-bind="typeStyle"></span>
        </div>
    </div>
</div>
<div class="pm_part_top10 pm_part_holding_chart" ng-show="typeStyle==='列表模式'">
    <div class="pm_chart_header align_center">
        盈亏走势图
    </div>
    <div class="pm_chart_body">
        <nvd3 options="summaryOption" data="summaryData"></nvd3>
    </div>
</div>
<div class="pm_part_top10" style="position: absolute;overflow:auto;top: 30px;left: 0;right: 0;bottom: 0;" ng-hide="typeStyle==='列表模式'">
    <div class="pm_chart_header align_center">
        盈亏统计表
    </div>
    <div class="pm_top10_body">
        <div class="pm_table_body">
            <table>
                <tr>
                    <td class="align_center">序号</td>
                    <td class="align_center">账户名称</td>
                    <td class="align_center">日期</td>
                    <td class="align_center">总盈亏(元)</td>
                    <td class="align_center">实际盈亏(元)</td>
                </tr>
                <tr ng-repeat="item in summaryDataList">
                    <td class="align_center" ng-bind="$index+1"></td>
                    <td class="align_center" ng-bind="item.AccountName||'--'"></td>
                    <td class="align_center" ng-bind="item.ValueDate | date:'yyyy-MM-dd'"></td>
                    <td class="number_type" ng-bind="item.TotalProfitLoss | number:effectiveNumber"></td>
                    <td class="number_type" ng-bind="item.ActualProfitLoss | number:effectiveNumber"></td>
                </tr>
            </table>
        </div>
    </div>
</div>