<link rel="stylesheet" href="css/templates/transactionManagement.css">
<link rel="stylesheet" href="css/templates/businessReminder.css">
<link rel="stylesheet" href="css/templates/riskManagement.css">
<div class="tm_wrap">
    <div class="tm_addNew" style="padding: 5px 20px">
        <span class="common-btn btn" ng-click="addCtrl()">国债下单</span>
        <span class="common-btn btn pull-right" ng-click="updateNbInfo()" >配置国债账户</span>
        <span class="btn common-btn pull-right" ng-click="getNbComparison()" >全部持仓查询</span>
        <input class="common-input pull-right form-control" type="text" def-laydate id="workday" init-today ng-model="compareWorkday" >
    </div>
    <div class="common-search">
        <div class="common-search-part">
            <span class="common-label">起止日期：</span>
            <input class="common-input form-control" type="text" ng-model="rmFormS.startDate" def-laydate id="sStartDate" init-today>
            <span class="common-label">-</span>
            <input class="common-input common-ml-0 form-control" type="text" ng-model="rmFormS.endDate" def-laydate id="sEndDate" init-today>
        </div>
        <div class="common-search-part">
            <span class="common-label">交易方向：</span>
            <ui-select class="common-label common-ui-select" search-enabled="false" ng-model="rmFormS.direction">
                <ui-select-match placeholder="选择交易方向" allow-clear="false">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="direction.code as direction in params.direction">
                    <span ng-bind="direction.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="searchMain()"><i class="glyphicon glyphicon-search" ></i>查询</span>
        </div>
    </div>
    <div class="tm_main rm_main_sub_orders" style="bottom: 30px; top: 80px">
        <div ui-grid="gridOptions" class="grid" ui-grid-pagination ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
    <div class="tmTicket_addNew rm-addNew" ng-show="isEdit">
        <div class="tmTicket_addNew_wrap rm-addNew-wrap ta-addNew-wrap-sub" drag>
            <div class="tmTicket_addNew_title" ng-bind="rmForm.title" drag-handle></div>
            <div class="tmTicket_addNew_main rm-addNew-main clearfix">
                <div class="tmTicket_label" style="display: block">
                    <div style="display: flex">
                        <span class="label_title" style="font-weight: bold">证券名称</span>：
                        <input style="height: 36px;line-height: 36px" type="text" ng-model="rmForm.bondName.securityName" ng-blur="getAsideContent()" ng-change="fuzzySearchSecurityName(rmForm.fundName, rmForm.bondName.securityName)">
                    </div>
                    <ul style="position: absolute" ng-show="isFuzzySearch" class="fuzzySearch fuzzySearch_move clearfix">
                        <li ng-repeat="item in securityNames"
                            ng-click="chooseSecurityNameTicket(item)">{{item.securityName}}</li>
                    </ul>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title" style="font-weight: bold">证券万得代码</span>：
                    <input type="text" ng-model="rmForm.iwindcode" placeholder={{iwindcodePlace}} class="red-placeholder" ng-blur="getAsideContent()"/>
                </div>
                <div class="tmTicket_label">
                    <span class="label_title" style="font-weight: bold">指令交易日期</span>：
                    <input type="text" ng-model="rmForm.workday" def-laydate id="rmSubOrderWorkday" ng-change="selDate(rmForm.workday)">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title" style="font-weight: bold">中债估值日期</span>：
                    <input type="text" ng-model="rmForm.cnbdDate" ng-change="getAsideContent()" def-laydate id="rmSubOrderCnbdDate">
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title" style="font-weight: bold">实际收益率</span>：
                    <input type="text" ng-model="rmForm.yieldRate" ng-disabled="rmForm.realRate==='2' || rmForm.realRate==='3'" ng-blur="getAsideContent()">
                    %
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title" style="font-weight: bold">交易净价</span>：
                    <input type="text" ng-model="rmForm.transPrice" ng-disabled="rmForm.realRate==='3'" ng-change="getFullAmount()" ng-blur="getAsideContent('transPrice')">
                    元
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title" style="font-weight: bold">交易全价</span>：
                    <input type="text" ng-disabled="rmForm.realRate==='1' || rmForm.realRate==='2'" ng-model="rmForm.fullPrice" ng-blur="getAsideContent('fullPrice')">
                    元
                </div>
                <div class="rm_oneLine">
                    <span class="label_title">价格模式</span>：
                    <div class="tm_radio">
                        <label class="label_first">
                            <input type="radio" ng-model="rmForm.realRate" value='1'>
                            实际收益率
                        </label>
                        <label>
                            <input type="radio" ng-model="rmForm.realRate" value='2'>
                            交易净价
                        </label>
                        <label>
                            <input type="radio" ng-model="rmForm.realRate" value='3'>
                            交易全价
                        </label>
                    </div>
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">数量</span>：
                    <input type="text" ng-model="rmForm.bondNumber" ng-change="getFullAmount()">
                    张
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">面额</span>：
                    <input type="text" ng-model="rmForm.denomination">
                    万元
                </div>
                <div class="tmTicket_label tmTicket_price">
                    <span class="label_title">结算金额</span>：
                    <input disabled type="text" ng-value="rmForm.amount | number: fixNum">
                    元
                </div>
                <div class="tmTicket_label">
                    <span class="label_title">交易方向</span>：
                    <div class="tm_radio">
                        <label class="label_first">
                            <input type="radio" ng-model="rmForm.direction" value="1" ng-checked="true" >
                            买入
                        </label>
                        <label>
                            <input type="radio" ng-model="rmForm.direction" value="2">
                            卖出
                        </label>
                    </div>
                </div>
                <div class="tmTicket_note">
                    <span class="label_title">备注</span>：
                    <textarea ng-model="rmForm.desc">
                    </textarea>
                </div>
                <div class="tmTicket_addNew_handle rm-addNew-handle clearfix">
                    <div class="tm_confirm" ng-click="subEdit()" ng-bind="rmForm.confirm">确认</div>
                    <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
                </div>
            </div>
            <div class="tmTicket_addNew_aside rm-addNew-aside">
                <div class="aside-head">
                    <p><span class="head-title">估价日期</span>：<span class="aside-value" ng-bind="asideData.workday | date: 'yyyy-MM-dd'"></span></p>
                    <p><span class="head-title">收益率</span>：<span class="aside-value" ng-bind="asideData.yield_cnbdEx || 0"></span></p>
                    <p><span class="head-title">发行总额</span>：<span class="aside-value" ng-bind="asideData.issue_amountact||0"></span></p>
                    <p><span class="head-title">久期</span>：<span class="aside-value" ng-bind="asideData.modidura_cnbd||0"></span></p>
                    <p><span class="head-title">票面利率</span>：<span class="aside-value" ng-bind="asideData.couponrate||0"></span></p>
                    <p><span class="head-title">行权日期</span>：<span class="aside-value" ng-bind="(asideData.nxoptiondate | date: 'yyyy-MM-dd') || '--'"></span></p>
                    <p><span class="head-title">应计利息</span>：<span class="aside-value" ng-bind="(asideData.calc_accrint||0) | number: fixNum"></span></p>
                    <p><span class="head-title">bps变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': ((asideData.yield_cnbdEx||0)-(rmForm.yieldRate||0))<0}" ng-bind="((asideData.yield_cnbdEx||0)-(rmForm.yieldRate||0)) | number: fixNum"></span></p>
                    <p><span class="head-title">利润变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': (((+rmForm.transPrice||0)-(asideData.calc_price||0))*(rmForm.denomination||0)*100)<0}" ng-bind="(((+rmForm.transPrice||0)-(asideData.calc_price||0))*(rmForm.denomination||0)*100) | number: fixNum"></span></p>
                    <p><span class="head-title">价格变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': ((asideData.calc_price||0)-(+rmForm.transPrice||0))<0}" ng-bind="((asideData.calc_price||0)-(+rmForm.transPrice||0)) | number: fixNum"></span></p>
                    <p><span class="head-title">右侧净价</span>：<span class="aside-value" ng-bind="(asideData.calc_price||0) | number: fixNum"></span></p>
                    <p><span class="head-title">清算价格</span>：<span class="aside-value" ng-bind="((asideData.calc_accrint||0)+(+rmForm.transPrice||0))*(rmForm.denomination||0)/100 | number: fixNum"></span></p>
                    <p><span class="head-title">全价</span>：<span class="aside-value" ng-bind="((asideData.calc_accrint||0)+(+rmForm.transPrice||0))| number: fixNum"></span></p>
                    <p style="color: #0a6cd6"><span class="head-title">实际净价</span>：<span class="aside-value" ng-bind="(asideData.actual_calc_price||0) | number: fixNum"></span></p>
                    <p><span class="head-title">实际收益</span>：<span class="aside-value" ng-bind="(asideData.actualProfitRate||0) | number: fixNum"></span></p>
                    <p><span class="head-title">中债净价</span>：<span class="aside-value" ng-bind="(asideData.net_cnbd||0) | number: fixNum"></span></p>
                    <p><span class="head-title">净价差价</span>：<span class="aside-value" ng-bind="((asideData.net_cnbd||0)-(+asideData.actual_calc_price||0))| number: fixNum"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tmTicket_addNew rm-addNew" ng-show="isShowInfo">
        <div class="tmTicket_addNew_wrap" drag style="width: 800px; margin-left: -400px; margin-top: -200px">
            <div class="tmTicket_addNew_title" ng-bind="rmForm.title" drag-handle></div>
            <div class="tmTicket_addNew_main clearfix">
                <div class="tmTicket_label">
                    <span class="label_title" style="font-weight: bold">投资现金总额</span>：
                    <input style="height: 36px;line-height: 36px" type="text" ng-model="nbInfo.amount">
                </div>
                <div class="tmTicket_label">
                    <span class="label_title" style="font-weight: bold">历史盈亏</span>：
                    <input type="text" ng-model="nbInfo.profit"/>
                </div>
                <div class="tmTicket_addNew_handle rm-addNew-handle clearfix">
                    <div class="tm_confirm" ng-click="updateShowInfo()">确认</div>
                    <div class="tm_cancel" ng-click="cancelEdit()">取消</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tmTicket_showMore" ng-show="isEditShow">
        <div class="tmTicket_showMore_wrap" drag style="width: 800px;margin-left: -400px">
            <div class="tmTicket_showMore_title" drag-handle>
                <span>查看详情</span>
                <span ng-click="cancelEdit()">关闭</span>
            </div>
            <div class="tmTicket_showMore_main clearfix" style="width: 800px">
                <table class="rm-detail showMoreTable">
                    <tr>
                        <td>证券名称：</td>
                        <td colspan="3">{{taskForm.bondName.securityName}}</td>
                    </tr>
                    <tr>
                        <td>中债估值日期：</td>
                        <td>{{taskForm.cnbdDate}}</td>
                        <td>实际收益率：</td>
                        <td>{{taskForm.yieldRate}}</td>
                    </tr>
                    <tr>
                        <td>交易日期：</td>
                        <td>{{taskForm.workday}}</td>
                        <td>数量：</td>
                        <td>{{taskForm.bondNumber | number:0}}</td>
                    </tr>
                    <tr>
                        <td>过券费用比例：</td>
                        <td>{{taskForm.transferFee/1 | number:effectiveNumber}}厘</td>
                        <td>交易净价：</td>
                        <td>{{taskForm.transPrice/1 | number:effectiveNumber}}元</td>
                    </tr>
                    <tr>
                        <td>交易全价：</td>
                        <td title={{taskForm.fullPrice}}>{{taskForm.fullPrice | number:effectiveNumber}}元</td>
                        <td>结算金额：</td>
                        <td title={{taskForm.amount}}>{{taskForm.amount/1 | number:effectiveNumber}}元</td>
                    </tr>
                    <tr>
                        <td>面额：</td>
                        <td title={{taskForm.denomination}}>{{taskForm.denomination/1 | number:effectiveNumber}}万元</td>
                        <td>交易方向：</td>
                        <td>{{taskForm.directionShow}}</td>
                    </tr>
                    <tr>
                        <td>平仓盈亏：</td>
                        <td><span ng-class="{'state_up': taskForm.profit>=0, 'state_down': taskForm.profit<0}">{{taskForm.profit/1 | number:effectiveNumber}}</span>万元</td>
                    </tr>
                    <tr class="tm_showMore_note" style="height: 195px">
                        <td>备注：</td>
                        <td colspan="3">{{taskForm.desc}}</td>
                    </tr>
                </table>
                <div class="rm-aside tmTicket_addNew_aside rm-addNew-aside">
                    <div class="aside-head">
                        <p><span class="head-title">估价日期</span>：<span class="aside-value" ng-bind="asideData.workday | date: 'yyyy-MM-dd'"></span></p>
                        <p><span class="head-title">收益率</span>：<span class="aside-value" ng-bind="asideData.yield_cnbdEx || 0"></span></p>
                        <p><span class="head-title">发行总额</span>：<span class="aside-value" ng-bind="asideData.issue_amountact||0"></span></p>
                        <p><span class="head-title">久期</span>：<span class="aside-value" ng-bind="asideData.modidura_cnbd||0"></span></p>
                        <p><span class="head-title">票面利率</span>：<span class="aside-value" ng-bind="asideData.couponrate||0"></span></p>
                        <p><span class="head-title">行权日期</span>：<span class="aside-value" ng-bind="(asideData.nxoptiondate | date: 'yyyy-MM-dd') || '--'"></span></p>
                        <p><span class="head-title">应计利息</span>：<span class="aside-value" ng-bind="(asideData.calc_accrint||0) | number: fixNum"></span></p>
                        <p><span class="head-title">bps变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': ((asideData.yield_cnbdEx||0)-(taskForm.yieldRate||0))<0}" ng-bind="((asideData.yield_cnbdEx||0)-(taskForm.yieldRate||0)) | number: fixNum"></span></p>
                        <p><span class="head-title">利润变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': (((+taskForm.transPrice||0)-(asideData.calc_price||0))*(taskForm.denomination||0)*100)<0}" ng-bind="(((+taskForm.transPrice||0)-(asideData.calc_price||0))*(taskForm.denomination||0)*100) | number: fixNum"></span></p>
                        <p><span class="head-title">价格变化</span>：<span class="aside-value" ng-class="{'tm_state_pass': ((asideData.calc_price||0)-(+taskForm.transPrice||0))<0}" ng-bind="((asideData.calc_price||0)-(+taskForm.transPrice||0)) | number: fixNum"></span></p>
                        <p><span class="head-title">右侧净价</span>：<span class="aside-value" ng-bind="(asideData.calc_price||0) | number: fixNum"></span></p>
                        <p><span class="head-title">清算价格</span>：<span class="aside-value" ng-bind="((asideData.calc_accrint||0)+(+taskForm.transPrice||0))*(taskForm.denomination||0)/100 | number: fixNum"></span></p>
                        <p><span class="head-title">全价</span>：<span class="aside-value" ng-bind="((asideData.calc_accrint||0)+(+taskForm.transPrice||0))| number: fixNum"></span></p>
                        <p style="color: #0a6cd6"><span class="head-title">实际净价</span>：<span class="aside-value" ng-bind="(asideData.actual_calc_price||0) | number: fixNum"></span></p>
                        <p><span class="head-title">实际收益</span>：<span class="aside-value" ng-bind="(asideData.actualProfitRate||0) | number: fixNum"></span></p>
                        <p><span class="head-title">中债净价</span>：<span class="aside-value" ng-bind="(asideData.net_cnbd||0) | number: fixNum"></span></p>
                        <p><span class="head-title">净价差价</span>：<span class="aside-value" ng-bind="((asideData.net_cnbd||0)-(+asideData.actual_calc_price||0))| number: fixNum"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="br_showMore" ng-show="isShowCompare">
        <div drag class="br_showMore_wrap">
            <div class="br_showMore_title" drag-handle>
                <span>查看详情</span>
                <span ng-click="cancelCompare()">关闭</span>
            </div>
            <div class="br_showMore_main clearfix">
                <table class="table">
                    <tr>
                        <th>序号</th>
                        <th>债券名称</th>
                        <!--<th>债券代码</th>-->
                        <th>数量</th>
                        <th>成本</th>
                        <th>市值</th>
                    </tr>
                    <tr ng-repeat="item in compareList">
                        <td ng-bind="$index+1"></td>
                        <td class="align_center" ng-bind="item.DisplayName"></td>
                        <!--<td class="align_center" ng-bind="item.windcode"></td>-->
                        <td class="number_type" ng-bind="item.Amount | number"></td>
                        <td class="number_type" ng-bind="item.Cost | number"></td>
                        <td class="number_type" ng-bind="item.MarketValue | number"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="err_wrap" ng-show="isShowTip">
    <div class="err_inner" drag>
        <div class="errTitle" drag-handle><h3>风控提示</h3><img ng-click="closeTip()" src="img/err.png"/></div>
        <div class="errTip" style="height: inherit">
            <h2 ng-bind="tipTitle"></h2>
            <pre title="{{tipText}}" ng-bind="tipText" class="tip-text"></pre>
        </div>
    </div>
</div>
<div class="br_showMore" ng-show="isShowMoreList">
    <div drag class="br_showMore_wrap">
        <div class="br_showMore_title" drag-handle>
            <span>风控提示</span>
            <span ng-click="cancelShowMore()">关闭</span>
        </div>
        <div class="br_showMore_main clearfix">
            <table class="table">
                <colgroup>
                    <col width="15%" >
                    <col width="15%" >
                    <col width="70%" >
                </colgroup>
                <tr>
                    <th>风控编号</th>
                    <th>风控类型</th>
                    <th>备注</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td ng-bind="item.ruleId"></td>
                    <td ng-bind="item.ruleType==='compareVolume'?'数量控制':item.ruleType==='compareCost'?'成本控制':item.ruleType==='compareModidura'?'久期控制':item.ruleType==='compareLeveraging'?'杠杆率控制':'投资标的控制'"></td>
                    <td ng-bind="item.desc"></td>
                </tr>
            </table>
        </div>
    </div>
</div>