<link rel="stylesheet" href="css/templates/transactionManagement.css">
<link rel="stylesheet" href="css/templates/statisticalReport.css">
<style>
    .ta-body{
        position: absolute;
        top: 234px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .ta-setting{
        position: absolute;
        top: 44px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .todo-wrap .nav-tabs > li:last-child{
        float: right;
    }
</style>
<div class="todo-wrap clearfix">
    <uib-tabset active="active">
        <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.AccountName}}" ng-click="refreshTab(tab.AccountId)">

        </uib-tab>
    </uib-tabset>
</div>
<div class="tab-content">
    <div class="main" ng-show="tabNow === 0" >
        <table class="sr_table">
            <tr>
                <td width="25%">清算日期：</td>
                <td width="25%" ng-bind="headInfo.ValueDate | date: 'yyyy-MM-dd'"></td>
                <td width="25%">投资现金总额合计：</td>
                <td width="25%" ng-bind="headInfo.TotalCash | number: filNum"></td>
            </tr>
            <tr>
                <td>持仓总成本合计：</td>
                <td><span ng-bind="headInfo.TotalCost | number: filNum"></span></td>
                <td>总市值合计：</td>
                <td><span ng-bind="headInfo.TotalMatketValue | number: filNum"></span></td>
            </tr>
            <tr>
                <td>当日总盈亏合计：</td>
                <td><span ng-class="{'state_down': headInfo.ProfitLoss<0, 'state_up': headInfo.ProfitLoss>=0}" ng-bind="headInfo.ProfitLoss | number: filNum"></span></td>
                <td>账户总盈亏合计：</td>
                <td><span ng-class="{'state_down': headInfo.TotalProfitLoss<0, 'state_up': headInfo.TotalProfitLoss>=0}" ng-bind="headInfo.TotalProfitLoss | number: filNum"></span></td>
            </tr>
            <tr>
                <td>资金成本合计：</td>
                <td><span ng-bind="headInfo.CapitalCost | number: filNum"></span></td>
                <td>实际总盈亏合计：</td>
                <td><span ng-class="{'state_down': headInfo.ActualProfitLoss<0, 'state_up': headInfo.ActualProfitLoss>=0}" ng-bind="headInfo.ActualProfitLoss | number: filNum"></span></td>
            </tr>
        </table>
    </div>
    <div class="info" ng-hide="tabNow===0 || tabNow>900">
        <div class="ta-head">
            <table class="sr_table">
                <tr>
                    <td width="25%">清算日期：</td>
                    <td width="25%" ng-bind="headInfo.ValueDate | date: 'yyyy-MM-dd'"></td>
                    <td width="25%">投资现金总额：</td>
                    <td width="25%" ng-bind="headInfo.TotalCash | number: filNum"></td>
                </tr>
                <tr>
                    <td>持仓总成本：</td>
                    <td><span ng-bind="headInfo.TotalCost | number: filNum"></span></td>
                    <td>总市值：</td>
                    <td><span ng-bind="headInfo.TotalMatketValue | number: filNum"></span></td>
                </tr>
                <tr>
                    <td>当日总盈亏：</td>
                    <td><span ng-class="{'state_down': headInfo.ProfitLoss<0, 'state_up': headInfo.ProfitLoss>=0}" ng-bind="headInfo.ProfitLoss | number: filNum"></span></td>
                    <td>账户总盈亏：</td>
                    <td><span ng-class="{'state_down': headInfo.TotalProfitLoss<0, 'state_up': headInfo.TotalProfitLoss>=0}" ng-bind="headInfo.TotalProfitLoss | number: filNum"></span></td>
                </tr>
                <tr>
                    <td>资金成本：</td>
                    <td><span ng-bind="headInfo.CapitalCost | number: filNum"></span></td>
                    <td>实际总盈亏：</td>
                    <td><span ng-class="{'state_down': headInfo.ActualProfitLoss<0, 'state_up': headInfo.ActualProfitLoss>=0}" ng-bind="headInfo.ActualProfitLoss | number: filNum"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ta-body" ng-hide="tabNow>900">
        <div ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
    <div class="ta-setting" ng-show="tabNow === 998" >
        <div ta-treasury-summaries style="height: 100%;overflow: auto"></div>
    </div>
    <div class="ta-setting" ng-show="tabNow === 999" >
        <div ta-account-setting style="height: 100%" ></div>
    </div>
</div>