<link rel="stylesheet" href="css/templates/transactionManagement.css">
<link rel="stylesheet" href="css/templates/riskManagement.css">
<div class="tm_wrap">
    <div class="tm_search rm_search_wind clearfix">
        <div class="tmAll_left">
            <div class="tm_searchMenu">
                <span class="search_title">估值日期</span>
                <input type="text" def-laydate name="" id="rmDate" ng-model="rmDate">
            </div>
            <div class="tm_searchMenu">
                <span class="search_title">产品名称</span>
                <select class="tm_select" ng-options="fundName.fundId as fundName.fundName for fundName in fundNames" ng-model="tmFundS.fundName">
                    <option value="">--产品名称--</option>
                </select>
            </div>
            <div class="tm_searchMenu">
                <span class="search_btn pointer" ng-click="search()"><i class="icon-search"></i>查询</span>
            </div>
        </div>
    </div>
    <div class="tm_main rm_main_static">
        <div ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
</div>