<link rel="stylesheet" href="css/templates/creditManagement.css">
<div class="common-search">
    <div class="common-search-part">
        <span class="common-label">主体名称</span>
        <input class="common-input form-control" type="text" ng-model="cmSearch.mainName" ng-change="filSearchMain(cmSearch.mainName)" />
    </div>
</div>
<div class="cmMain_content">
    <table class="table">
        <tr>
            <th>序号</th>
            <th>主体名称</th>
            <th>行业</th>
            <th>外部评级</th>
            <th>区域</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in items">
            <td ng-bind="$index+1"></td>
            <td class="pointer main_color" ng-bind="item.companyName" ng-click="goMainDetail(item)"></td>
            <td ng-bind="item.industryThree"></td>
            <td ng-bind="item.companyOutGrade"></td>
            <td ng-bind="item.placeShow"></td>
            <td>
                <span><a href="javascript:;" class="main_color" ng-click="cancelConcern(item)">取消关注</a></span>
            </td>
        </tr>
    </table>
</div>