<link rel="stylesheet" href="css/templates/creditManagement.css">
<div class="common-search-float clearfix">
    <div class="pull-left common-flex" style="width: 80%">
        <div class="common-search-part">
            <span class="common-label">主体名称</span>
            <input class="common-input min-input form-control" type="text" ng-model="cmSearch.mainName" />
        </div>
        <div class="common-search-part">
            <span class="common-label">一级行业</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="true" ng-model="cmSearch.claireEmIndustryOne" ng-change="chooseTwo()">
                <ui-select-match placeholder="一级行业" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="claireEmIndustryOne.code as claireEmIndustryOne in clairecmSearchEmIndustryOnes | filter:$select.search">
                    <span ng-bind="claireEmIndustryOne.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">二级行业</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="true" ng-model="cmSearch.claireEmIndustryTwo" ng-change="chooseThree()">
                <ui-select-match placeholder="二级行业" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="claireEmIndustryTwo.code as claireEmIndustryTwo in clairecmSearchEmIndustryTwos | filter:$select.search">
                    <span ng-bind="claireEmIndustryTwo.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">三级行业</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="true" ng-model="cmSearch.claireEmIndustryThree">
                <ui-select-match placeholder="三级行业" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="claireEmIndustryThree.code as claireEmIndustryThree in claireEmIndustryThrees | filter:$select.search">
                    <span ng-bind="claireEmIndustryThree.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">省份</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="true" ng-model="cmSearch.province">
                <ui-select-match placeholder="省份" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="province.code as province in provinces | filter:$select.search">
                    <span ng-bind="province.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">内部评分</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="false" ng-model="cmSearch.claireScore">
                <ui-select-match placeholder="选择评分" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="claireScore.code as claireScore in claireScores | filter:$select.search">
                    <span ng-bind="claireScore.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
        <div class="common-search-part">
            <span class="common-label">是否持仓</span>
            <ui-select class="common-label common-ui-select min-select" search-enabled="false" ng-model="cmSearch.isHolding">
                <ui-select-match placeholder="是否持仓" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="isHolding.code as isHolding in params.holdingList | filter:$select.search">
                    <span ng-bind="isHolding.name"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    没有匹配结果
                </ui-select-no-choice>
            </ui-select>
        </div>
    </div>
    <div class="pull-right clearfix">
        <div class="common-search-part">
            <span class="btn common-btn" ng-click="searchMain()"><i class="glyphicon glyphicon-search"></i>查询</span>
            <span class="btn common-btn" ng-click="resetMain()">重置</span>
        </div>
    </div>
</div>
<div class="cmMain_content">
    <table class="table">
        <tr>
            <th>序号</th>
            <th>主体名称</th>
            <th>主体行业</th>
            <th>外部评级</th>
            <th>蓝石评分</th>
            <th>区域</th>
            <th>评分说明</th>
            <th>主体备注</th>
            <th>是否持仓</th>
            <th>预警等级</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in items">
            <td ng-bind="$index+1"></td>
            <td class="main_color pointer" ng-bind="item.companyName" ng-click="goMainDetail(item)"></td>
            <td ng-bind="item.industryThree"></td>
            <td ng-bind="item.companyOutGrade"></td>
            <td ng-bind="item.companyLanShiScore"></td>
            <td ng-bind="item.placeShow"></td>
            <td title="{{item.companyScoreNote}}"><div class="cm_showMore" ng-bind="item.companyScoreNote"></div></td>
            <td ng-bind="item.companyNote"></td>
            <td>{{item.holding=='true'?'是':'否'}}</td>
            <td ng-bind="item.holding"></td>
            <td>{{item.createTime.split(' ')[0]}}</td>
            <td class="handle">
                <span><a href="javascript:;" class="main_color" ng-click="showEditRating(item)">修改</a></span>
                <span><a href="javascript:;" class="main_color" ng-click="goBondRating(item)">查看</a></span>
            </td>
        </tr>
    </table>
</div>
<div class="cm_addNew" ng-show="isEditRating">
    <div class="cm_addNew_wrap">
        <div class="cm_addNew_title">添加主体评级</div>
        <div class="cm_addNew_main clearfix">
            <div class="cm_label">
                <span>公司备注：</span>
                <input type="text" ng-model="cmRating.companyNote">
                </select>
            </div>
            <div class="cm_label">
                <span>内部评分：</span>
                <select class="tm_select" ng-options="claireScore.code as claireScore.name for claireScore in claireScores" ng-model="cmRating.companyLanShiScore">
                    <option value="">--请选择评分--</option>
                </select>
            </div>
            <div class="cm_note">
                <span>评分说明：</span>
                <textarea ng-model="cmRating.companyScoreNote">

                </textarea>
            </div>
        </div>
        <div class="cm_addNew_handle">
            <div class="tm_confirm" ng-click="subEditRating()">确认</div>
            <div class="tm_cancel" ng-click="cancelEditRating()">取消</div>
        </div>
    </div>
</div>