<link rel="stylesheet" href="css/templates/transactionManagement.css">
<div class="tm_wrap">
    <div class="tm_search clearfix">
        <div class="tm_searchMenu">
            <span class="search_title" >
                选择账户
            </span>
            <select class="tm_select" ng-model="nbAccount" ng-options="nbAccount in nbAccounts" ></select>
        </div>
        <div class="tm_searchMenu">
            <span class="search_title">
                交易时间
            </span>
            <input class="tm_select" type="text" def-laydate />
        </div>
        <div class="tm_searchMenu file" style="display: flex; align-items: center">
            <span class="filename" ng-bind="fileName" >点击我导入文件</span>
            <input class="content-value tm_select" type="file" nv-file-select uploader="uploader" style="opacity: 0" />
            <a class="tmOwn_addNew" href="javascript:;" style="width: 100px;height: 32px;top: 0;text-align: center" ng-click="showEdit('add')">上传</a>
        </div>
    </div>
    <div class="tm_main tm-counterparty-main">
        <div ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns></div>
    </div>
</div>